.f_10{
	font-size: 10px;
}
.f_12{
	font-size: 12px;
}
.f_14{
	font-size: 14px;
}
.f_16{
	font-size: 16px;
}
.f_18{
	font-size: 18px;
}
.f_20{
	font-size: 20px;
}
.f_22{
	font-size: 22px;
}
.f_24{
	font-size: 24px;
}

.margin_bottom_10{
	margin-bottom: 10px;
}
.margin_bottom_20{
	margin-bottom: 20px;
}
.margin_bottom_30{
	margin-bottom: 30px;
}
.margin_bottom_40{
	margin-bottom: 40px;
}


.indent_2{
	text-indent: 2em;;
}
.indent_4{
	text-indent: 4em;;
}


.area_width_10{
	width: 10%;
}
.area_width_20{
	width: 20%;
}
.area_width_30{
	width: 30%;
}
.area_width_40{
	width: 40%;
}
.area_width_50{
	width: 50%;
}
.area_width_60{
	width: 60%;
}
.area_width_70{
	width: 70%;
}
.area_width_80{
	width: 80%;
}
.area_width_90{
	width: 90%;
}
.area_width_100{
	width: 100%;
}

















































































































































