* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #E7EAE3;
}

.header {
	height: 5%;
	/*background-color: #000000;*/
}
.header ul li{
	display:block;
	float: left;
	height: 30px;
	width: 100px;
	margin-left: 50px;
	background-color: palevioletred;
}

.center {
	height: 90%;
	/*background-color: darkgoldenrod;*/
	padding-left: 5%;
	padding-right: 5%;
}

.left_area {
	float: left;
	height: 100%;
	width: 55%;
	background-color: orange;
}

.right_area {
	float: left;
	height: 100%;
	width: 45%;
	background-color: cornflowerblue;
}

.memory_area {
	height: 100%;
	width: 100%;
	/*padding: 2%;*/
	/*background-color: deepskyblue;*/
}

.memoryList{
	height: 95%;
	padding-top: 5%;
	padding-left: 15%;
	background-color: deepskyblue;
}

.memoryContent {	
	height: 15%;
	width: 70%;
	/*margin-top: 20px;*/
	background-color: white;
}

.loadMore{
	height: 5%;
	padding-left: 30%;	
	padding-right: 30%;
	background-color: antiquewhite;
}


